@charset "utf-8";
.header {
  position: fixed;
  top: 0;
  width: 10rem;
  height: 1.875rem;
  background-color: #347EFF;
  z-index: 99;
}
.header .logo {
  margin-top: 0.46875rem;
  margin-left: 0.9375rem;
}
.header .logo img {
  width: 4.0625rem;
  height: 0.875rem;
}
.shadow-box {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  overflow: auto;
  text-align: center;
  background-color: #fff;
}
.shadow-box .card {
  width: 8.125rem;
  margin: auto;
  margin-top: 2.8125rem;
}
.shadow-box .card h1 {
  display: inline-block;
  margin-bottom: 0.9375rem;
  width: 1.375rem;
  height: 0.9375rem;
  font-size: 0.6875rem;
  color: #31393F;
  font-weight: 400;
}
.shadow-box .input-box {
  width: 8.125rem;
  height: 1.4375rem;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}
.shadow-box .input-box input {
  width: 8.125rem;
  height: 1.4375rem;
  padding: 0.375rem 0.3125rem;
  border: 1px solid #EBEDED;
  border-radius: 3px;
  font-size: 0.4375rem;
  background-color: white;
}
.shadow-box .geetest-btn {
  margin: auto;
  margin-top: 0.3125rem;
  width: 8.125rem;
  height: 1.3125rem;
}
.shadow-box .geetest-btn button {
  width: 8.125rem;
  height: 1.3125rem;
  font-size: 0.4375rem;
  border: 1px solid #ccc;
  background-color: white;
}
.shadow-box .login-btn {
  margin: auto;
  margin-top: 0.3125rem;
  width: 8.125rem;
  height: 1.3125rem;
}
.shadow-box .login-btn button {
  width: 8.125rem;
  height: 1.3125rem;
  font-size: 0.4375rem;
  color: white;
  background-color: rgba(68, 136, 255, 0.5);
  border-radius: 2px;
}
.shadow-box .error {
  margin: 0.3125rem auto;
  width: 8.125rem;
  height: 1.25rem;
  line-height: 1.25rem;
  color: #F53F47;
  font-size: 0.375rem;
  border-radius: 2px;
  background-color: #F7A5A8;
}
.shadow-box .cutting-line {
  position: relative;
  top: 0.625rem;
  width: 8.125rem;
  height: 1.25rem;
  padding-top: 0.625rem;
  border-top: 1px solid  #F3F5F6;
}
.shadow-box .cutting-line .forget {
  position: relative;
  float: left;
  font-size: 0.4375rem;
  color: #4488ff;
}
.shadow-box .cutting-line .reg {
  position: relative;
  float: right;
  color: #4488ff;
  font-size: 0.4375rem;
}
