@charset "utf-8";
@divide: 10;
@pswWidth: 320;
@ppr: @pswWidth/@divide/1rem; // 定义单位
body{
	width:100%;
	height: 100%;
}


.header{
	position: fixed;
	top:0;
	width:100%;
	height: 60px;
	background-color: #347EFF;
	z-index: 99;
	box-shadow: 0 1px 6px rgba(0,0,0,.117647), 0 1px 4px rgba(0,0,0,.117647);
	.logo{
        margin-top: 15px;
		margin-left: 30px;
		
		img{
			width:130px;
			height:28px;
		}
	}
}

.shadow-box{
	width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    overflow: auto;
    text-align:center;
    background-color: #fff;
    .card{
	    text-align: center;
	    width: 260px;
	    position: absolute;
	    left: 50%;
	    margin: auto;
	    margin-left: -130px;
	    top: 40px;
	    bottom: 0;
	    background-color: white;
	    margin-top: 50px;
	    transition: height 0.2s ease-out, margin-left 0.3s ease-out;
	    	h1{ 
	    		display:inline-block;
	    		margin-bottom:30px;
	    		width:44px;
    			height:30px;
		    	font-size: 22px;
		    	color:#31393F;
		    	font-weight: 400;		    		
	    	}
    }
    .input-box{
    	width:260px;
    	height:48px;
    	text-align:center;
    	margin: 10px auto;

    	input{
    		width:260px;
    		height:46px;
    		padding: 12px 10px;
    		border:1px solid #EBEDED;
    		border-radius: 3px;
    		font-size:14px;
    		background-color:white;
    	}
    }
	.geetest-btn{
		margin:0 auto;
		width:260px;
		height:42px;
			button{
				width:260px;
				height:42px;
				font-size:14px;
			    border: 1px solid #ccc;
				background-color:white;
			}
	}
	.login-btn{
		margin:auto;
		margin-top:10px;
		width:260px;
		height:42px;
			button{
				width:260px;
				height:42px;
				font-size:14px;
				color: white;
				background-color: rgba(68, 136, 255, .5);
				border-radius: 2px;
				cursor: pointer;
				&:hover{
					background-color:rgba(68, 136, 255, 1);
				}
			}
	}
	.error{
		    color: #F95959;
			margin-top: 10px;
			background: #F9B6B6;
			border-radius: 2px;
			height: 42px;
			font-size: 12px;
			line-height: 42px;
			transition: all .3s ease-in;

	}
	.cutting-line{
		position:relative;
		top:20px;
		width:260px;
		height:40px;
		padding-top: 20px;
		border-top: 1px solid  #F3F5F6;
		.forget{
			position:relative;
			float: left;
			font-size:14px;
			color:rgb(68, 136, 255);
		}
		.reg{
			position:relative;
			float: right;
			color:rgb(68, 136, 255);
			font-size:14px;
		}
	}
}	























